.Index {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 2vh;
}

.Index .poles .title {
    font-weight: 600;
    font-size: 4vh;
    font-variant: small-caps;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.Index .poles .body {
    width: 15vw;
    height: 15.5vh;
    padding: 1vh;
}

.Index .poles .body .pole_color {
    position: absolute;
    top: 10vh;
    margin-left: 7vw;
    width: 1vw;
    height: 20vh;
    border-top-right-radius: 10vh;
    border-top-left-radius: 10vh;
    background: #000000;
    z-index: -1;
}

.Index .poles .body .pole_base_color {
    position: absolute;
    top: 30vh;
    margin-left: 5vw;
    width: 5vw;
    height: 2vh;
    border-radius: 0.5vh;
    background: #000000;
    z-index: -1;
}

.Index .poles .draggable {
    user-select: none;
    padding: 1vh;
    margin: 0 0 1vh 0;
    height: 2.5vh;
    text-align: center;
    color: #FFFFFF;
}

.Index .poles .draggable.zero {
    width: 7.3vw;
    margin-left: 3.2vw;
    background-color: #FF0000;
}
.Index .poles .draggable.one {
    width: 10.3vw;
    margin-left: 1.7vw;
    background-color: #FF8800;
}
.Index .poles .draggable.two {
    width: 13.5vw;
    background-color: #FFD000;
}